#headwrapper {
    display: inline-block;
    width: 100vw;
    box-shadow: 1px 1px 15px gainsboro;
}

#navs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -58px;
}

#nameheader {
    font-style: italic;
    text-align: left;
    padding-left: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links {
    padding: 12px;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(220, 79, 32);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#dismenu {
    box-shadow: 2px 2px 12px gainsboro;
  /*  margin-top: 50px;*/
    border-radius: 10px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#book{
     font-size: "2.5rem" ;
}

@media only screen and (max-width: 1050px) {
    #menus {
        float: right;
        margin-right: 30px;
        margin-top: -34px;
        cursor: pointer;
        width: 50px;
    }
    #navs {
        display: none;
    }

    #cross {
        float: right;
        text-align: right;
        margin-right: 23px;
        font-size: 1.7rem;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #nameheader {
        font-size: 1.2rem;
    }
    #book{
        font-size: "1.5rem" ;
    }
    a{
        font-size: 1.0rem;
    }
}
